body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.listed-poll {
  border-style: solid;
  padding: 10px;
  margin-top: 5px;
}

.keepAtSameRow {
  display: inline-block;
}

/*Navbar styling */

.nav-bar {
  padding: 50px;
}

.nav-logo h2 {
  display: inline;
}

.nav-links {
  list-style: none;
  float:right;
  margin-top: 5px;
  font-size: 20px
}

.nav-links li {
  display: block;
  float: left;
  list-style: none;
  padding: 0 10px;
  text-decoration: none !important;
}

/*Navbar styling ends */