body {
  font-family: 'Roboto', sans-serif;
}


.keepAtSameRow {
  display: inline-block;
}

/*Navbar styling */

.nav-bar {
  padding: 50px;
}

.nav-logo h2 {
  display: inline;
}

.nav-links {
  list-style: none;
  float:right;
  margin-top: 5px;
  font-size: 20px
}

.nav-links li {
  display: block;
  float: left;
  list-style: none;
  padding: 0 10px;
  text-decoration: none !important;
}

/*Navbar styling ends */


/*Single poll styling */

.singlePollQuestion {
  text-align: center;
  padding-bottom: 20px;
}

.singlePollOption {
  display: inline;
  padding: 0 10px;
  margin-right: 10px;
}

.pollOption {
  padding-left:30px;
}

.pollOptionAndVotes {
  display: inline;
  margin-left: 3%;
}

.givenVotes {
  padding-left: 80px;
  margin-left: 3%;
}

.pollBarChart {
  padding: 5% 0 0 15%
}

/*Single polls styling ends*/


.listedPollCard {
  padding: 5px 0px;
}