body {
  font-family: 'Roboto', sans-serif;
}


.keepAtSameRow {
  display: inline-block;
}

/*Navbar styling */

.nav-bar {
  padding: 50px;
  background-color: hsl(171, 100%, 41%);
}


.nav-logo h2 {
  display: inline !important;
  color: white;
}

.nav-links {
  float: right;
  margin-top: 5px;
  font-size: 20px
}

.nav-links li {
  display: inline;
  padding-right: 5px;
}

.nav-links > li:hover {
  color: red;
}

/*Navbar styling ends */

/*Pollform styling */

.option-input {
  position: relative;
}

.option-input-text {
  width: 99%;
  margin-bottom: 5px;
}

.option-delete-button {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.add-new-poll-button {
  margin-right: 5px;
}

/*Pollform styling ends */




/*Single poll styling */

.singlePollQuestion {
  text-align: center;
  padding-bottom: 20px;
}

.singlePollOption {
  display: inline;
  padding: 0 10px;
  margin-right: 10px;
}

.pollOption {
  padding-left:30px;
}

.pollOptionAndVotes {
  display: inline;
  margin-left: 3%;
}

.givenVotes {
  padding-left: 80px;
  margin-left: 3%;
}

.pollBarChart {
  padding: 5% 0 0 15%
}

/*Single polls styling ends*/


.listedPollCard {
  padding: 5px 0px;
}